---
layout: default
title: 
description: 
---

%header.header_bright{ :role => "header" }
  %a.header__title{ :href => "/" } {{ site.title }}
  %a.menu-main__open{ :href => "javascript:;", :role => "menu-main-open" }
  %nav.social__menu{ :role => "social-menu" }
    .social__menu__links
      %a.social__vk{ :href => "#" }
      %a.social__fb{ :href => "#" }
      %a.social__in{ :href => "#" }
      %a.social__tw{ :href => "#" }

.screen{ :role => "screen" }
  %img.screen__bg-image{ :role => "screen-bg-image", :src => "assets/pic/about/pic1.png" }

.content-main{ :role => "content" }

  %section.about
    .about-head
      %h1.about-head__title О нас
      .info__counters
        .info__views_dark 222
        .info__comments_dark 222
        .info__likes_dark 222

    %p.about__title.font-xlarge «Смоленский Пассаж» — современный торгово-деловой комплекс европейского уровня. Уникальность объекта во многом обусловлена удачным расположением в культурном, деловом и историческом центре Москвы.
    .image_right
      %img{ :src => "assets/pic/about/pic2.png" }
    %p
      «Смоленский Пассаж» — современный торгово-деловой комплекс европейского уровня. Уникальность объекта во многом обусловлена удачным расположением в культурном, деловом и историческом центре Москвы. Здесь, ничуть не диссонируя, ведут свой диалог история и современность: неспешность Старого Арбата пересекается с динамикой Садового кольца. Лаконичная и изысканная архитектурная концепция, а также дизайн интерьеров торговой части проекта разработаны при участии компании SCG London.
      %br
      В «Смоленском Пассаже» представлены известные бренды и легендарные дизайнеры, формирующие стиль эпохи. Новый формат интеллектуальной роскоши воплощен в важнейших атрибутах жизни преуспевающего человека: престижных аксессуарах, эксклюзивной парфюмерии, стильной одежде и обуви бескомпромисного качества, бвелирных изделиях и другом.
    %hr.clear-divider
    .image_left
      %img{ :src => "assets/pic/about/pic3.png" }
    %p.font-xlarge «Смоленский Пассаж» исключает любую тривиальность, создает ощущение избранности у каждого гостя.
    %p «Смоленский Пассаж» исключает любую тривиальность, создает ощущение избранности у каждого гостя. Атмосфера респектабельности и ненавязчивой роскоши привлекает истинных ценителей моды и приверженцев качственно нового стиля жизни. Неудивительно, что «Смоленский Пассаж» стал центром притяжения светского общества и бизнес-элиты.
