---
layout: default
title: 
description: 
---

%header.header_dark{ :role => "header" }
  %a.header__title{ :href => "/" } {{ site.title }}
  %a.menu-main__open{ :href => "javascript:;", :role => "menu-main-open" }
  %nav.social__menu{ :role => "social-menu" }
    .social__menu__links
      %a.social__vk{ :href => "#" }
      %a.social__fb{ :href => "#" }
      %a.social__in{ :href => "#" }
      %a.social__tw{ :href => "#" }

.content-main{ :role => "content" }

  %section.contacts
    %h1.contacts__title Контакты

    #contacts_map

    %p
      <b>Адрес:</b><br>
      121099, Москва, Смоленская площадь‚ д. 3., ст.м. Смоленская (АПЛ, ФЛ)

    %p
      <b>Часы работы:</b><br>
      ТДК с 10:00 до 22:00
      Зеленый Перекресток круглосуточно
      World Class пн.-пт. с 06:30 до 24:00, сб. - вс. с 09:00 до 24:00

    %p
      <b>Телефон:</b><br>
      +7 (495) 797-69-26

    %p
      <b>Парковка:</b><br>
      Клиенты ТДК «Смоленский Пассаж» не испытывают обычных для центра города трудностей
      с парковкой. В их распоряжении 3-х уровневый подземный паркинг, рассчитанный на 400 машиномест.
