---
layout: default
title: 
description: 
---

%header.header_dark{ :role => "header" }
  %a.header__title{ :href => "/" } {{ site.title }}
  %a.menu-main__open{ :href => "javascript:;", :role => "menu-main-open" }
  %nav.social__menu{ :role => "social-menu" }
    .social__menu__links
      %a.social__vk{ :href => "#" }
      %a.social__fb{ :href => "#" }
      %a.social__in{ :href => "#" }
      %a.social__tw{ :href => "#" }

/ first screen
.screen_first_floor1{ :role => "screen" }
  %a.floor1_left{ :href => "brand.html" }
    %img.screen_first__bg-image{ :role => "block-bg-image", :src => "assets/pic/floor1/pic1.png" }
    .floor1_left__title MaxMara
    .floor1_left__counters
      .info__views_dark 222
      .info__comments_dark 222
      .info__likes_dark 222
  %a.floor1_right{ :href => "brand.html" }
    %img.screen_first__bg-image{ :role => "block-bg-image", :src => "assets/pic/floor1/pic2.png" }
    .floor1_right__title
      Summer Style
      .floor1_right__subtitle MAX & Co
    .floor1_right__counters
      .info__views_dark 222
      .info__comments_dark 222
      .info__likes_dark 222
  .screen_first__select
    %a.screen_first__select-top{ :href => "floor_2.html" }
    .screen_first__select-number 1
    .screen_first__select-text этаж
    %a.screen_first__select-bottom{ :href => "floor_0.html" }

.content-main{ :role => "content" }
  / bricks
  .brick__container{ :role => 'masonry' }
    %a.brick{ :href => "brand.html", "data-width" => 3 }
      %img.brick__img{ :src => "assets/pic/pic35.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic36.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic37.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2, "data-height" => 2 }
      %img.brick__img{ :src => "assets/pic/pic38.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-height" => 3 }
      %img.brick__img{ :src => "assets/pic/pic28.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2, "data-height" => 2 }
      %img.brick__img{ :src => "assets/pic/pic39.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic32.png" }
    %a.brick{ :href => "brand.html", "data-width" => 3 }
      %img.brick__img{ :src => "assets/pic/pic40.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic41.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic42.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222

  / floor plan block
  .floor-plan
    %h1.floor-plan__title План этажа
    .floor-plan__image
      / svg insert here
      %img{ :role => "svg-convert", :src => "assets/pic/plan1.svg" }

    .floor-plan__nav
      %p.floor-plan__section ОДЕЖДА
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "B05" }
          %span.floor-plan__number B05
          Max & Co
        %a{ :href => "#", :role => "plan-link", "data-num" => "B05" }
          %span.floor-plan__number B05
          Marina Renaldi
        %a{ :href => "#", :role => "plan-link", "data-num" => "B05" }
          %span.floor-plan__number B05
          Max Mara
        %a{ :href => "#", :role => "plan-link", "data-num" => "B06" }
          %span.floor-plan__number B06
          Etro
      %p.floor-plan__section РЕСТОРАНЫ И КАФЕ
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "R02" }
          %span.floor-plan__number R02
        %a{ :href => "#", :role => "plan-link", "data-num" => "R03" }
          %span.floor-plan__number R03
        %a{ :href => "#", :role => "plan-link", "data-num" => "B07" }
          %span.floor-plan__number B07
          Luciano
        %a{ :href => "#", :role => "plan-link", "data-num" => "B22" }
          %span.floor-plan__number B22
          Luciano Bar
        %a{ :href => "#", :role => "plan-link", "data-num" => "R01" }
          %span.floor-plan__number R01
          ZODIAC
      %p.floor-plan__section АКСЕССУАРЫ
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "B04" }
          %span.floor-plan__number B04
          Da Vinci
        %a{ :href => "#", :role => "plan-link", "data-num" => "B13" }
          %span.floor-plan__number B13
          Evita Peroni
        %a{ :href => "#", :role => "plan-link", "data-num" => "B03" }
          %span.floor-plan__number B03
          Montblanc
        %a{ :href => "#", :role => "plan-link", "data-num" => "B20" }
          %span.floor-plan__number B20
          Vendome
      %p.floor-plan__section ФЛОРИСТИКА
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "B18" }
          %span.floor-plan__number B18
          Королевские оранжереи
      %p.floor-plan__section ОПТИКА
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "B16" }
          %span.floor-plan__number B16
          Визион
      %p.floor-plan__section ПАРФЮМЕРИЯ И КОСМЕТИКА
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "B01" }
          %span.floor-plan__number B01
          Rivoli
      %p.floor-plan__section ЮВЕЛИРНЫЕ ИЗДЕЛИЯ/ЧАСЫ
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "B24" }
          %span.floor-plan__number B24
          Antonini
        %a{ :href => "#", :role => "plan-link", "data-num" => "B04" }
          %span.floor-plan__number B04
          Da Vinci
        %a{ :href => "#", :role => "plan-link", "data-num" => "B09" }
          %span.floor-plan__number B09
          Roberto Coin
        %a{ :href => "#", :role => "plan-link", "data-num" => "B21" }
          %span.floor-plan__number B21
          Lavel Jewelry
        %a{ :href => "#", :role => "plan-link", "data-num" => "B27" }
          %span.floor-plan__number B27
          Longines
        %a{ :href => "#", :role => "plan-link", "data-num" => "B19" }
          %span.floor-plan__number B19
          Moiseikin
        %a{ :href => "#", :role => "plan-link", "data-num" => "B14" }
          %span.floor-plan__number B14
          Passage
        %a{ :href => "#", :role => "plan-link", "data-num" => "B26" }
          %span.floor-plan__number B26
          Bovet
      / popup text containers
      .floor-plan__info{ :role => "plan-info", "data-num" => "B01" }
        bla bla bla, wait for design
      .floor-plan__info{ :role => "plan-info", "data-num" => "B02" }
        bla bla bla, wait for design
      .floor-plan__info{ :role => "plan-info", "data-num" => "B03" }
        bla bla bla, wait for design
