---
layout: default
title: 
description: 
---

%header.header_dark{ :role => "header" }
  %a.header__title{ :href => "/" } {{ site.title }}
  %a.menu-main__open{ :href => "javascript:;", :role => "menu-main-open" }
  %nav.social__menu{ :role => "social-menu" }
    .social__menu__links
      %a.social__vk{ :href => "#" }
      %a.social__fb{ :href => "#" }
      %a.social__in{ :href => "#" }
      %a.social__tw{ :href => "#" }

/ first screen
.screen_first{ :role => "screen" }
  %img.screen_first__bg-image{ :role => "screen-bg-image", :src => "assets/pic/floor3/pic1.png" }
  .screen_first__title_3 Летняя коллекция:<br> в Bosco Family. Bosco Donna
  .screen_first__counters_3
    .screen_first__views 222
    .screen_first__comments 222
    .screen_first__likes 222
  .screen_first__select
    %a.screen_first__select-top{ :href => "floor_4.html" }
    .screen_first__select-number 3
    .screen_first__select-text этаж
    %a.screen_first__select-bottom{ :href => "floor_2.html" }

.content-main{ :role => "content" }
  / bricks
  .brick__container{ :role => 'masonry' }
    %a.brick{ :href => "brand.html", "data-width" => 3 }
      %img.brick__img{ :src => "assets/pic/pic35.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic36.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic37.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2, "data-height" => 2 }
      %img.brick__img{ :src => "assets/pic/pic38.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-height" => 3 }
      %img.brick__img{ :src => "assets/pic/pic28.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2, "data-height" => 2 }
      %img.brick__img{ :src => "assets/pic/pic39.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic32.png" }
    %a.brick{ :href => "brand.html", "data-width" => 3 }
      %img.brick__img{ :src => "assets/pic/pic40.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic41.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic42.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222

  / floor plan block
  .floor-plan
    %h1.floor-plan__title План этажа
    .floor-plan__image
      / svg insert here
      %img{ :role => "svg-convert", :src => "assets/pic/plan3.svg" }

    .floor-plan__nav
      %p.floor-plan__section ОДЕЖДА
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "D01" }
          %span.floor-plan__number D01
          Bosco Family
        %a{ :href => "#", :role => "plan-link", "data-num" => "D02" }
          %span.floor-plan__number D02
        %a{ :href => "#", :role => "plan-link", "data-num" => "D03" }
          %span.floor-plan__number D03
        %a{ :href => "#", :role => "plan-link", "data-num" => "D04" }
          %span.floor-plan__number D04
        %a{ :href => "#", :role => "plan-link", "data-num" => "D05" }
          %span.floor-plan__number D05
          Lux Emotion
        %a{ :href => "#", :role => "plan-link", "data-num" => "D07" }
          %span.floor-plan__number D07
          Jovani
        %a{ :href => "#", :role => "plan-link", "data-num" => "D08" }
          %span.floor-plan__number D08
          Детская галерея Якиманка
        %a{ :href => "#", :role => "plan-link", "data-num" => "D09" }
          %span.floor-plan__number D09
          Scervino street
        %a{ :href => "#", :role => "plan-link", "data-num" => "D10" }
          %span.floor-plan__number D10
          Fabiana Filippi
        %a{ :href => "#", :role => "plan-link", "data-num" => "D11" }
          %span.floor-plan__number D11
          Trussardi Jeans, True Trussardi
        %a{ :href => "#", :role => "plan-link", "data-num" => "D12" }
          %span.floor-plan__number D12
          A-Store
        %a{ :href => "#", :role => "plan-link", "data-num" => "D13" }
          %span.floor-plan__number D13
        %a{ :href => "#", :role => "plan-link", "data-num" => "D14" }
          %span.floor-plan__number D14
          NO ONE
      %p.floor-plan__section ОБУВЬ
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "D06" }
          %span.floor-plan__number D06
          Vivendi
      / popup text containers
      .floor-plan__info{ :role => "plan-info", "data-num" => "D01" }
        bla bla bla, wait for design
      .floor-plan__info{ :role => "plan-info", "data-num" => "D02" }
        bla bla bla, wait for design
      .floor-plan__info{ :role => "plan-info", "data-num" => "D03" }
        bla bla bla, wait for design
