---
layout: default
title: 
description: 
---

%header.header_dark{ :role => "header" }
  %a.header__title{ :href => "/" } {{ site.title }}
  %a.menu-main__open{ :href => "javascript:;", :role => "menu-main-open" }
  %nav.social__menu{ :role => "social-menu" }
    .social__menu__links
      %a.social__vk{ :href => "#" }
      %a.social__fb{ :href => "#" }
      %a.social__in{ :href => "#" }
      %a.social__tw{ :href => "#" }

/ first screen
.screen_first{ :role => "screen" }
  %img.screen_first__bg-image{ :role => "screen-bg-image", :src => "assets/pic/pic34.png" }
  .screen_first__title_0 Акция &laquo;Насыщенный вкус лета&raquo;<br> в Зеленом перекрестке!
  .screen_first__counters_0
    .screen_first__views 222
    .screen_first__comments 222
    .screen_first__likes 222
  .screen_first__select
    %a.screen_first__select-top{ :href => "floor_1.html" }
    .screen_first__select-number -1
    .screen_first__select-text этаж

.content-main{ :role => "content" }
  / bricks
  .brick__container{ :role => 'masonry' }
    %a.brick{ :href => "brand.html", "data-width" => 3 }
      %img.brick__img{ :src => "assets/pic/pic35.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic36.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic37.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2, "data-height" => 2 }
      %img.brick__img{ :src => "assets/pic/pic38.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-height" => 3 }
      %img.brick__img{ :src => "assets/pic/pic28.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2, "data-height" => 2 }
      %img.brick__img{ :src => "assets/pic/pic39.png" }
      .brick__info_bottom_right{ :role => "brick-info", "data-h" => "right", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic32.png" }
    %a.brick{ :href => "brand.html", "data-width" => 3 }
      %img.brick__img{ :src => "assets/pic/pic40.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic41.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222
    %a.brick{ :href => "brand.html", "data-width" => 2 }
      %img.brick__img{ :src => "assets/pic/pic42.png" }
      .brick__info_bottom_left{ :role => "brick-info", "data-h" => "left", "data-v" => "bottom" }
        .brick__info__tag{ "data-type" => "sale" } Скидки
        .brick__info__title Заголовок
        .brick__info__counters
          .brick__info__views 222
          .brick__info__comments 222
          .brick__info__likes 222

  / floor plan block
  .floor-plan
    %h1.floor-plan__title План этажа
    .floor-plan__image
      / svg insert here
      %img{ :role => "svg-convert", :src => "assets/pic/plan0.svg" }

    .floor-plan__nav
      %p.floor-plan__section МАГАЗИНЫ И РЕСТОРАНЫ
      %nav.floor-plan__list
        %a{ :href => "#", :role => "plan-link", "data-num" => "A01" }
          %span.floor-plan__number A01
          Зеленый ПЕРЕКРЕСТОК
        %a{ :href => "#", :role => "plan-link", "data-num" => "A02" }
          %span.floor-plan__number A02
          Аптека 36.6
        %a{ :href => "#", :role => "plan-link", "data-num" => "A03" }
          %span.floor-plan__number A03
          Интерьерная Лавка
        %a{ :href => "#", :role => "plan-link", "data-num" => "A04" }
          %span.floor-plan__number A04
          Связной салон связи
        %a{ :href => "#", :role => "plan-link", "data-num" => "A05" }
          %span.floor-plan__number A05
          Full Service служба быта
        %a{ :href => "#", :role => "plan-link", "data-num" => "A06" }
          %span.floor-plan__number A06
          Williams & Oliver товары для дома
        %a{ :href => "#", :role => "plan-link", "data-num" => "A07" }
          %span.floor-plan__number A07
          Bianca химчистка
        %a{ :href => "#", :role => "plan-link", "data-num" => "A08" }
          %span.floor-plan__number A08
          Luciano караоке - бар
        %a{ :href => "#", :role => "plan-link", "data-num" => "A09" }
          %span.floor-plan__number A09
          SQ Sigs электронные сигареты
      / popup text containers
      .floor-plan__info{ :role => "plan-info", "data-num" => "A01" }
        bla bla bla, wait for design
      .floor-plan__info{ :role => "plan-info", "data-num" => "A02" }
        bla bla bla, wait for design
      .floor-plan__info{ :role => "plan-info", "data-num" => "A03" }
        bla bla bla, wait for design
