%nav.menu-main{ :role => "menu-main" }
  .menu-main__info
    .menu-main__links
      %a{ :href => "floors.html" } Магазины
      %a{ :href => "about.html" } О нас
      %a{ :href => "blog_list.html" } Блоги
      %a{ :href => "floors_rent.html" } Аренда и реклама
      %a{ :href => "instagram.html" } Конкурсы
      %a{ :href => "contacts.html" } Контакты
    %hr.menu-main__divider
    .menu-main__address
      Москва, Смоленская площадь, д.3
    .menu-main__time
      ТДК: 10:00 - 22:00<br>
      Зеленый перекресток: 00:00 - 24:00<br>
      World Class: пн.-пт. 6:30 - 24:00, сб.-вс.: 9:00 - 24:00
  %a.menu-main__floor_minus1{ :href => "floor_0.html" }
    .menu-main__floor-text
      <p>Зеленый перекресток / Интерьерная лавка</p>
      <p>Williams&Oliver / Аптека 36,6 / Химчистка Bianca</p>
      <p>Full Service / Связной</p>
  %a.menu-main__floor_1{ :href => "floor_1.html" }
    .menu-main__floor-text
      text texttexttext texttext  texttext text text text text text
  %a.menu-main__floor_2{ :href => "floor_2.html" }
    .menu-main__floor-text
      text texttexttext texttext  texttext text text text text text
  %a.menu-main__floor_3{ :href => "floor_3.html" }
    .menu-main__floor-text
      text texttexttext texttext  texttext text text text text text
  %a.menu-main__floor_4{ :href => "floor_4.html" }
    .menu-main__floor-text
      text texttexttext texttext  texttext text text text text text
